/*
  dimension definition
*/
$width-smobile: 320px;
$width-mobile: 480px;
$width-tablet: 768px;
$width-desktop: 992px;
$width-large-desktop: 1368px;
/*
  corp color guide
*/

/* Main Colors */
$color-orange: #ffcb05;


